.peron {
    font-family: "Lobster";
    font: size 40px;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
}

/* санс сриф-без засечек, arial обычный текст 1-размер,2-высота,3 растояни к
4 размер шрифта* 5 фон шрифта/