.container {
    max-width: 1400px;
    margin: 0 auto;

}

.header {
    background: url(img/bg.png) 50% 100% / cover no-repeat;
}

.header__top {
    padding: 42px 60px;
    margin-bottom: 140px;
}

.header__top__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__logo img {
    width: 280px;
    height: 38px;
}

.nav__item-katalog {
    border: 1px solid rgb(255, 255, 255);
    width: 136px;
    border-radius: 60px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin: -12px 0px 0px;
}

.nav__item-katalog:hover {
    background: rgb(244, 104, 63);
    border: 1px solid rgb(244, 104, 63);
}

.nav__item-katalog:hover border {}

.nav__list {
    color: white;
    display: flex;
    gap: 4vh 40px;
}

.hero__inner {
    margin: 80px 0px 0px 0px;
}


.hero__title {
    font-size: 60px;
    font-weight: 800;
    line-height: 140%;
    color: white;
    width: 680px;
    height: 180px;
    margin-bottom: 80px;
}

.hero__text {
    font-size: 25px;
    font-weight: 600;
    line-height: 150%;
    color: white;
    width: 469px;
    height: 76px;
}




.page-title {
    text-align: center;
}

.slider-container {
    position: relative;
    width: 160px;
    height: 140px;
    margin: 0 auto;
    overflow: hidden;
    margin: 60px 0px 0px 0px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}




.socials {
    line-height: 0;
    margin: 30px 0px 40px -800px;

}

.socials__list {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.grid__hero_broni {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 250px;

}
.hero__inner{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px ;
}

.broni {}

.btn-text {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 65px 12px 24px;
    color: rgb(68, 68, 68);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}
.btn-broni{
    margin: 49px auto 0px;
}
.element__broni {
    width: 360px;
    height: 497px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 0px 57px 0px;
}


.header-buttons {
    width: 280px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid rgb(192, 194, 215);
    border-radius: 200px;
    background: rgb(255, 255, 255);
    margin: 0px auto 0px;
}

.btn {
    margin: 20px 20px;
    background: #fff;
    color: rgb(192, 194, 215);

}

.line {
    width: 1px;
    height: 35px;
    background-color: #ccc;
    margin: 0px 10px;
}


.input-number {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 16px;
    color: rgb(192, 194, 215);
    text-align: center;
    cursor: pointer;
}

.people-count {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.people-title {
    padding: 0px 0px 10px 17px;
    color: rgb(68, 68, 68);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.people-count__input {
    box-sizing: border-box;
    border: 2px solid rgb(192, 194, 215);
    border-radius: 200px;
    background: rgb(255, 255, 255);
    width: 280px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 10px;
}


.filter {
    padding: 30px;
    width: 400px;
}

.filter>div {
    padding-top: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.filter>div>div {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.filter .slider {
    margin-top: 10px;
    position: relative;
    height: 1px;
    background: rgb(128, 128, 128);
    border: 1px solid rgb(128, 128, 128);
}

.filter .color-range {
    position: absolute;
    background: rgb(128, 128, 128);
    width: 97%;
    border: none;
    height: 1px;
    left: 15px;
}

.filter .block-min,
.block-max {
    position: absolute;
    left: 0;
    top: -11.5px;
    background: #fff;
    border: 1px solid rgb(244, 104, 63);
    z-index: 1;
    border-radius: 200px;
    background: rgb(244, 104, 63);
    width: 8px;
    height: 23px;
}

.filter .block-max {
    left: 97%;
}

.button {
    border-radius: 200px;
    background: rgb(244, 104, 63);
    width: 280px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 18px;
font-weight: 600;
line-height: 150%;

}


/* main */





.container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    margin: 0 0 0 -15px;
    justify-content: start;
    margin-bottom: 180px;
}

.item {
    padding: 20px;
    text-align: center;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
    color: rgb(51, 51, 51);
}

.item img {
    margin-bottom: 21.33px;
}

.container-title {
    color: rgb(51, 51, 51);
    font-size: 40px;
    font-weight: 800;
    margin: 200px 0px 60px 0px;
}





.container-katalog {
    font-size: 40px;
    font-weight: 800;
    line-height: 150%;
    width: 468px;
    margin-bottom: 80px;
}

.card {
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
}

.card-img {
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 4px 80px 0px rgba(5, 9, 22, 0.08);
    height: 600px;
}



.card-content {
    margin: -60px 0px 0px 30px;

}

.max-men {
    border-radius: 150px;
    background: rgb(255, 255, 255);
    width: 92px;
    height: 36px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    top: -270px;
    left: 333px;
    color: rgb(114, 116, 136);
    gap: 9.33px;
    cursor: default;
}

.love {
    border-radius: 200px;
    box-shadow: 0px 4px 20px 0px rgba(21, 22, 34, 0.2);
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    top: -100px;
    left: 150px;
    width: 50px;
    height: 50px;
    left: 370px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}



.house-title {
    font-size: 24px;
    font-weight: 800;
    line-height: 150%;
    margin-bottom: 16px;
}

.house-details {
    margin-bottom: 8px;
    color: rgb(114, 116, 136);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    gap: 12px;
    display: flex;
    justify-content: flex-start;
}

.price-info {
    margin: 27px 0px 0px 30px;
}

.price {
    color: rgb(51, 51, 51);
    font-size: 22px;
    font-weight: 800;
    line-height: 150%;
}

.button-btn {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    border-radius: 200px;
    background: rgb(244, 104, 63);
    width: 280px;
    height: 50px;
    margin: 80px 560px 250px;
}

.service {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    grid-row-gap: 40px;

}

.service-card {
    border-radius: 20px;
    box-shadow: 0px 4px 80px 0px rgba(5, 9, 22, 0.08);
    background: rgb(255, 255, 255);
    width: 440px;
    height: 130px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 0px 170px 0px 0px;
}





/* /слайдер/ */

.accordion-container {
    width: 1400px;
    margin: 0 auto 250px;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;

}

.accordion-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    border-style: solid none solid none;
}

.accordion-item__header {
    background-color: #ffffff;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 0 0;
    margin-bottom: -10px;
}

.accordion-item__question {
    flex-grow: 1;
    margin-right: 10px;
    font-size: 22px;
    font-weight: 800;
    line-height: 150%;
}

.accordion-item__toggle {
    font-size: 1.5em;
}


.accordion-item__content {
    padding: 15px;
    display: none;
    border-radius: 0 0 0px 0px;
}

.accordion-item.active .accordion-item__content {
    display: block;
}

.rent {
    
    background: url(img/bg_photo.png) 50% 100% / cover no-repeat;
}

.ten {
    background: url(img/ten.png) 50% 100% / cover no-repeat;
}

.rent-block__title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 800;
    line-height: 150%;
    width: 373px;
    height: 60px;
    margin-bottom: 20px;
}

.rent-block__description {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    width: 360px;
    height: 58px;
    margin-bottom: 60px;
}

.rent-block__button {
    border-radius: 200px;
    background: rgb(244, 104, 63);
    width: 260px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 280px;
}

.rent-block {
    padding: 173px 0px 0px 180px;
}

/* футер */

.footer {
    height: 350px;
    background: rgb(22, 23, 35);
}


.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 равные колонки */
    gap: 10px;
    /* Отступ между элементами */
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.footer__column {
    display: flex;
    flex-direction: column;
    margin-top: 82px;
    padding: 0px 0 0 80px;
}

.footer__column-title {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 800;
    line-height: 150%;
    margin-bottom: 17px;
}

.footer__column_title {
    color: rgb(192, 194, 215);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}

.footer__column-list {
    color: rgb(192, 194, 215);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 15px;
}

.footer__column_list {
    color: rgb(64, 66, 86);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
}


.footer__logo {
    margin-top: 82px;
}

.footer__social {
    margin-top: 149px;
    display: flex;
    gap: 22px;
    align-items: center;
}

.footer__column_tel {
    display: flex;
    gap: 7px;
    color: rgb(192, 194, 215);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 0 0 0 60px;
}



/* калькулятор */