body {
    font-size: 40px;
}
/*  */
.block {
    width: 1000px;
    height: 300px;
    background: rgb(177, 127, 127);
    margin: 50px 300px;
    overflow: auto;
    
}
.bob-1 {

}
.block {
    background-image: url("monkey.jpg") ; 
    /* background-image:radial-gradient( #eba5a5,#8e8ee0); */
    /* 90deg-добовляет градус блоку,
     можно еще добавит один элемент цвета ТРЕТИЙ
      указал 40% их можно убрать,отвечает 
      за фунцицию процентов светов в блоке?ye;
      нужно указывать помле цвета
      37 урок */
      background-repeat:  no-repeat;
      background-position: 50% 50%;
      /* тут мы отключили повторение картинуи
      2 - передвигаем картинуку по вертикале и горизонтали */
      background-attachment:scroll;
      /* fixed-картинка остывает, он привязан именно
       к нашему окну
       local-картинка не скоролитнся
       scrol-картинка скролиться
        */
}
.block {
    background-size: 50%;
    /* ширина и высота картинки
    можно сразу написать в процентах
    cover no-repeat-сохроняет элемент изброжения при сжатии
    contain no-repeat -сохронеят полное изоброжение при сжатии 
    можно добавить еще картинку через запитую
    вертикаль и горизонталь
     можно прописать сразу после скобок картинки */
}

