body {background: rgb(0, 0, 0);
color: #fff;
font-size: 130%;}
.div-1 {width: 30px;
height: 30px;
background: red;
border-radius: 50%;}
.width {
    background: #fff;
    border-radius: 10px;
    width: 352px;
}


.flex-box {display: flex;
    height: 170px;
    width: 960px;
    background: rgb(0, 0, 0);
    align-items: flex-end;
}
.width {
   
    position: fixed;
    top: 400px;
    right: 50px;
}